/* ---------- General ---------- */
body {
    background-color: darkslategrey;
}

/* ---------- Header ---------- */
.profil_nav {
    display: none;
}

/* ---------- Footer ---------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: black;
}